* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
}

::selection {
  background-color: black;
  color: rgb(232, 33, 33);
}
span {
  cursor: pointer;
}


input,
textarea,
select {
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  margin: 1rem;
}